<form class="form" [formGroup]="regiForm" (ngSubmit)="sign()">
  <mat-radio-group class="mat-raised-button" variant="contained" color="primary" >
    <mat-radio-button value="1" >Admin &nbsp;</mat-radio-button>
    <mat-radio-button value="2">Physician &nbsp;</mat-radio-button>
    <mat-radio-button value="3">Nurse &nbsp;</mat-radio-button>
  </mat-radio-group>
  
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="First name" formControlName="Firstname">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Last name" formControlName="Lasttname">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Employee Id" formControlName="EmpID">
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Email Address" type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Contact" type="number" formControlName="number">
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="date" type="date" formControlName="date">
  </mat-form-field>

  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field class="form__input" appearance="outline">
    <input matInput placeholder="Password" type="password" formControlName="confirmPassword">
  </mat-form-field>


  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Create your account</button>
  </div>
</form>
