<div class="footer">
  <div class="footer__link">
    <a class="" [href]="flatlogic">Contact &nbsp;  </a>
    <a class="" [href]="flatlogicAbout">About Us  &nbsp;</a>
    <a class="" [href]="flatlogicBlog">Blog &nbsp;</a>
  </div>
  <div class="footer__icon">
    <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-facebook-square"></mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-twitter-square"></mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-github-square"></mat-icon>
    </button>
  </div>
</div>
